* {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
  font-size: 2.5vw;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.5;
}

@keyframes landing {
  0% {
    color: green;
  }

  25% {
    color: black;
  }

  75% {
    color: gold;
  }

  100% {
    color: navy;
  }
}

h1 {
  text-align: center;
  font-size: 3em;
  padding: 25px 40px 25px 40px;
  animation-name: landing;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

img {
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100%;
}

img:hover {
  transform: scale(1.1);
}

.img-caption {
  text-align: center;
  font-weight: 200;
  margin: 10px 5px 20px 5px;
}

.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: 300px;
  margin-top: 30px;
}

#tribute-link {
  text-align: center;
  display: block;
  margin: auto;
  position: relative;
  top: 450px;
}

.img-row {
  display: flex;
}

.img-column {
  flex: 50%;
  padding: 25px;
  float: left;
}

#closing {
  color: rgb(231, 84, 128);
}

#candidates {
  border: 10px solid pink;
}

@media screen and (max-width: 600px) {
  #tribute-link {
    position: initial;
    left: initial;
    top: initial;
  }
  .column {
    width: 100%;
    float: none;
    padding: 30px;
    height: 300px;
    margin-top: 50px;
  }
  .img-row {
    display: block;
  }
  .img-column {
    width: 100%;
    float: none;
    flex: none;
  }
  .img-column img {
    height: auto;
  }
}
